.vscode/**
.vscode-test/**
src/**
test/**
dist/test/**
node_modules/**
.gitignore
.yarnrc
.eslintrc.json
tsconfig.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
!dist/**/*.js
**/*.vsix
.npm-cache/
.cursor/
*.log
images/demo.gif
